.App {
  text-align: center;
}

.card.card-width {
  min-width: 180px;
  max-width: 180px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
